# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Environments & Keys
.env
.env.*
venv/
.venv/
env/

# OS and IDE files
.vscode/
.idea/
.DS_Store
Thumbs.db
